:root {
    --r-selection-background-color: rgba(255,255,0,40);
    --r-selection-color: #1c1c1c;
    --strong-color: #FF5252;
    --italic-color: #AE81FF;
    --r-block-margin: 12px;
    --r-heading-color: #E6E6E6;
    --r-main-color:  #bdbdbd;
    --r-link-color: #2094F3;
    --r-link-color-dark: #38ADFF;
    --r-link-color-hover: #F92672;
}

.reveal ::selection {
    color: var(--r-selection-color);
    background: var(--r-selection-background-color);
    text-shadow: none
}

.reveal ::-moz-selection {
    color: var(--r-selection-color);
    background: var(--r-selection-background-color);
    text-shadow: none
}

.reveal img,.reveal video,.reveal iframe {
    max-width: 95%;
    max-height: 95%
}

.reveal ol,.reveal dl,.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em
}

.reveal blockquote {
    display: block;
    position: relative;
    width: 70%;
    margin: var(--r-block-margin) auto;
    padding: 5px;
    font-style: italic;
    background: rgba(255,255,255,.05);
    box-shadow: 0px 0px 2px rgba(0,0,0,.2)
}

.reveal blockquote p:first-child,.reveal blockquote p:last-child {
    display: inline-block
}

.reveal q {
    font-style: italic
}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: var(--r-block-margin) auto;
    text-align: left;
    font-size: .55em;
    font-family: var(--r-code-font);
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 5px 15px rgba(0,0,0,.15)
}

.reveal code {
    font-family: var(--r-code-font);
    text-transform: none;
    tab-size: 2
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal
}

.reveal .code-wrapper {
    white-space: normal
}

.reveal .code-wrapper code {
    white-space: pre
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0
}

.reveal table th {
    font-weight: bold
}

.reveal table th,.reveal table td {
    text-align: left;
    padding: .2em .5em .2em .5em;
    border-bottom: 1px solid
}

.reveal table th[align=center],.reveal table td[align=center] {
    text-align: center
}

.reveal table th[align=right],.reveal table td[align=right] {
    text-align: right
}

.reveal table tbody tr:last-child th,.reveal table tbody tr:last-child td {
    border-bottom: none
}

.reveal sup {
    vertical-align: super;
    font-size: smaller
}

.reveal sub {
    vertical-align: sub;
    font-size: smaller
}

.reveal small {
    display: inline-block;
    font-size: .6em;
    line-height: 1.2em;
    vertical-align: top
}

.reveal small * {
    vertical-align: top
}

.reveal img {
    margin: var(--r-block-margin) 0
}

.reveal a {
    color: var(--r-link-color);
    text-decoration: none;
    transition: color .15s ease
}

.reveal a:hover {
    color: var(--r-link-color-hover);
    text-shadow: none;
    border: none
}

.reveal .roll span:after {
    color: #fff;
    background: var(--r-link-color-dark)
}

.reveal .r-frame {
    border: 4px solid var(--r-main-color);
    box-shadow: 0 0 10px rgba(0,0,0,.15)
}

.reveal a .r-frame {
    transition: all .15s linear
}

.reveal a:hover .r-frame {
    border-color: var(--r-link-color);
    box-shadow: 0 0 20px rgba(0,0,0,.55)
}

.reveal .controls {
    color: var(--r-link-color)
}

.reveal .progress {
    background: rgba(0,0,0,.2);
    color: var(--r-link-color)
}


.reveal.center .slide aside,.reveal.center .slide div.aside {
    position: initial
}

